.comment_container {
    margin-top: 15px;
    background-color: #688d47;
    padding: 15px;
    max-width: 300px;
    border: 1px solid black;
    border-radius: 10px;
}
.comment_content_container {
    margin-top: 10px;
}

.comment_buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
}
