.comment_container {
    margin-top: 15px;
    background: #363636;
    padding: 20px;
}
.comment_content_container {
    margin-top: 10px;
}

.comment_buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    margin-left: 20px;
}
