.formContainer {
    margin-top: 50px;
}

.header {
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 5vh;
    text-align: center;
    padding: 12px;
}

.wrapperClass {
    padding: 1rem;
    border: 1px solid #ccc;
}
.editorClass {
    background-color:lightgray;
    padding: 1rem;
    border: 1px solid #ccc;
}
.toolbarClass {
    border: 1px solid #ccc;
}

.tagContainer {
    max-width: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}