.comments_wrapper {
    margin-top: 20px;
}

.commentsFormContainer {
    background-color: darkolivegreen;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 300px;
    padding: 10px
}